body{
    margin: 0;
    background-image: url(vintage-clock_74190-5728.avif);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}
.clock-container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-size: 70px;
}
.clock{
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-align: center;
    color: brown;
}